<style>
	.sticky-container {
	/*background-color: #333;*/
	padding: 0px;
	margin: 0px;
	position: fixed;
	right: -60px;
	top: 35%;
	width: 200px;
	bottom: auto;
	}
</style>

<script src="https://unpkg.com/@lyket/widget@latest/dist/lyket.js?apiKey=pt_67c11820519102027fac360044664f"></script>

<div class="sticky-container">
<ul class="sticky">
	<div style="font-size: 25px"
	data-lyket-type="clap"
	data-lyket-id="homepage"
	data-lyket-namespace="project"
	data-lyket-template="heart"
	></div>
</ul>
</div>
